<div class="w-full flex flex-col justify-center items-center text-left pb-12">
  <button type="button" class="back-to-dashboard flex justify-center items-center px-2 py-1 mt-6 bg-blue-500/70 rounded-md">
    <div class="w-8 h-8">
      <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1.5" viewBox="0 0 24 24"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" d="m15 6-6 6 6 6" /></svg>
    </div>
    <span class="mr-3">Return to Dashboard</span>
  </button>

  <div class="w-full max-w-screen-sm bg-blue-900/70 flex flex-col gap-y-4 justify-center items-center text-center rounded-t-md shadow-md py-4 mt-8 select-none">
    <div class="w-10 h-10">{{appIcon}}</div>
    <span class="text-xl">Stock Ticker Settings</span>
  </div>

  <div class="w-full max-w-screen-sm gap-y-4 flex flex-col h-full bg-blue-950/70 rounded-md shadow-md p-3">

  <p class="text-center py-2">In order to use the stock ticker, you will need to register for a free account at: <a href="https://finnhub.io/" target="_blank" rel="noopener noreferrer nofollow" class="text-white transition-colors duration-150 ease-linear hover:text-white/80 hover:no-underline">https://finnhub.io/</a></p>
  <p class="text-center py-2">Once you have obtained an API Token from Finnhub, enter it below. You will have to "Save Stock Ticker Settings" at the bottom of the page for your changes to take effect.</p>

    <!-- Finnhub API Token -->
    <label class="flex flex-col">
      <span class="ml-2">Finnhub API Token</span>
      <input id="api-token" placeholder="API TOKEN" class="bg-black/50 text-white focus:bg-black/90 p-2 m-2 rounded-md" maxlength="40" />
    </label>

    <!-- Test API Token -->
    <div class="w-full flex justify-center">
      <button id="test-api-token-button" disabled class="px-3 py-2 m-4 uppercase bg-blue-500/70 flex flex-col gap-y-3 justify-center items-center text-center rounded-md shadow-md hover:bg-blue-600 hover:shadow-inner transition-colors disabled:opacity-50 disabled:cursor-not-allowed">Test API Token</button>
    </div>

    <p class="text-center py-2">You may test your Finnhub API Token by using the button above.</p>

    <hr class="my-6 border-blue-500/70" />

    <p class="text-center py-2">The Finnhub Stock API is free for personal use. Do not abuse their generosity.</p>
    <p class="text-center py-2">Please read and abide by the Finnhub Stock API terms of service: <br /><a href="https://finnhub.io/terms-of-service/" target="_blank" rel="noopener noreferrer nofollow" class="text-white transition-colors duration-150 ease-linear hover:text-white/80 hover:no-underline">https://finnhub.io/terms-of-service</a>

    <hr class="my-6 border-blue-500/70" />

    <!-- API Refresh Interval -->
    <label class="flex flex-col">
      <span class="ml-2">API Refresh Interval (in milliseconds)</span>
      <input type="text" inputmode="numeric" pattern="[0-9]*" class="bg-black/50 text-white focus:bg-black/90 p-2 m-2 rounded-md max-w-xs" id="refresh-interval" />
    </label>

    <p class="text-center py-2">This must be set to at least 60000 (one minute). 300000 (five minutes) is a reasonable default.</p>

    <hr class="my-6 border-blue-500/70" />

    <!-- Duration between Stocks -->
    <label class="flex flex-col">
      <span class="ml-2">Stock Duration (in milliseconds)</span>
      <input type="text" inputmode="numeric" pattern="[0-9]*" class="bg-black/50 text-white focus:bg-black/90 p-2 m-2 rounded-md max-w-xs" id="stock-duration" />
    </label>

    <p class="text-center py-2">This is the length of time a given stock will be shown on-screen before moving to the next stock. It must be at least 1000 (1 second) but 6500 (6.5 seconds) is a reasonable default.</p>

    <hr class="my-6 border-blue-500/70" />

    <!-- Stocks to Track -->
    <div id="stocks-wrapper">
      <span class="flex flex-col text-center text-xl font-bold mb-10">Stocks to Track</span>
    </div>

    <!-- Add Stock Button -->
    <div class="w-full flex justify-center">
      <button id="add-stock-button" title="Maximum of 8 stocks reached" disabled class=" inline-flex items-center py-1 px-2 gap-3 rounded-md bg-blue-500/70 text-center shadow-md hover:bg-blue-600 hover:shadow-inner transition-colors disabled:opacity-50 disabled:cursor-not-allowed">
        <div class="h-4 w-4">
          <svg stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 12h6m6 0h-6m0 0V6m0 6v6" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
        Add Stock
      </button>
    </div>

    <p class="text-center py-2">You may add up to 8 stocks from the NYSE. For each stock, provide the ticker (required), the company name up to 15 characters (not required), and the brand colour (white by default).</p>

    <hr class="my-6 border-blue-500/70" />

    <!-- Test Stocks Button -->
    <div class="w-full flex justify-center">
      <button id="test-stocks-button" class="px-3 py-2 m-4 uppercase bg-blue-500/70 flex flex-col gap-y-3 justify-center items-center text-center rounded-md shadow-md hover:bg-blue-600 hover:shadow-inner transition-colors disabled:opacity-50 disabled:cursor-not-allowed">Test Stocks</button>
    </div>

    <p class="text-center py-2">You may test your stock configuration by using the button above. Please ensure you have set a valid Finnhub API Token before testing your stocks.</p>

    <hr class="my-6 border-blue-500/70" />

    <!-- Save Button -->
    <div class="-ml-2">
      <button class="px-3 py-2 m-4 uppercase bg-blue-500/70 flex flex-col gap-y-3 justify-center items-center text-center rounded-md shadow-md hover:bg-blue-600 hover:shadow-inner transition-colors">Save Stock Ticker Settings</button>
    </div>
  </div>
</div>