<li class="list-none inline-flex items-center justify-between py-2 px-3 w-full">
    <button class="browse inline-flex items-center text-center">
      <div class="h-6 w-6 mr-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1.5" viewBox="0 0 24 24"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" d="M2 11V4.6a.6.6 0 0 1 .6-.6h6.178a.6.6 0 0 1 .39.144l3.164 2.712a.6.6 0 0 0 .39.144H21.4a.6.6 0 0 1 .6.6V11M2 11v8.4a.6.6 0 0 0 .6.6h18.8a.6.6 0 0 0 .6-.6V11M2 11h20" /></svg>
      </div>
      <strong class="ml-2 mr-8">{{folderName}}</strong>
    </button>
    <button label="delete" class="delete inline-flex items-center p-2 ml-3 rounded-md bg-red-500/50 text-center shadow-md hover:bg-red-600 hover:shadow-inner transition-colors">
      <div class="h-4 w-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1.5" viewBox="0 0 24 24"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" d="m20 9-1.995 11.346A2 2 0 0 1 16.035 22h-8.07a2 2 0 0 1-1.97-1.654L4 9M21 6h-5.625M3 6h5.625m0 0V4a2 2 0 0 1 2-2h2.75a2 2 0 0 1 2 2v2m-6.75 0h6.75" /></svg>
      </div>
    </button>
</li>